@use "src/styles/variables" as *;

$caption-threshold: 500px;

.fsphoto {
    height: max-content;
    min-height: 100vh;
    min-width: 100vw;
    max-height: 120vh;
    max-width: 100vw;
    position: fixed;
    object-fit:cover;
    z-index: -10;
}

#caption {
    text-align: left;
    color: $pinky-pie;
    text-shadow: 5px 10px $purple-poo;

    @media (max-width: $caption-threshold) {
        font-size: 4rem;
        padding: 10px 0 0 20px !important;
    }

    @media (min-width: $caption-threshold) {
        font-size: 8rem;
        padding: 60px 0 0 20px !important;
    }
}

#tag {
    display: flex;
    text-align: left;
    align-items: flex-end;
    color: $light;
    text-shadow: 0 0 5px $purple-poo;

    @media (max-width: $caption-threshold) {
        font-size: 2rem;
        padding: 20px 0 0 25px !important;
    }

    @media (min-width: $caption-threshold) {
        font-size: 4rem;
        padding: 60px 0 0 30px !important;
    }
}
