@use "src/styles/variables" as *;

$sml-caption-threshold: 400px;

.fsphoto {
    height: max-content;
    min-height: 100vh;
    min-width: 100vw;
    max-height: 120vh;
    max-width: 100vw;
    position: fixed;
    object-fit:cover;
    z-index: -10;
}

#caption {
    text-align: left;
    color: $pinky-pie;
    text-shadow: 5px 10px $purple-poo;
    font-size: 8rem;
    padding: 60px 0 0 20px !important;


    @media (max-width: $sml-caption-threshold) {
        font-size: 4rem;
    }

    @media (max-width: 600px) {
        font-size: 4rem;
    }
}

#tag {
    display: flex;
    text-align: left;
    align-items: flex-end;
    color: $light;
    text-shadow: 0 0 5px $purple-poo;
    padding: 60px 0 0 20px !important;

    font-size: 4rem;
    @media (max-width: 600px) {
        font-size: 2rem;
    }
}
