@import 'src/app/components/fullscreen-photo/fullscreen-photo.component';

.blink {
  border-right-style: solid;
  animation: 1s blink infinity;
}
  
@keyframes blink {
  to {
    opacity: 0;
  }
}
  