
.page-content-dual-header-topper {
    max-height: 15vh;
    max-width: 30vw;
}

.page-content-dual-header {
    display: flex;

    // This moves secondary header under primary on small devices
    @media (max-width: 700px) {
        flex-direction: column;

        // and removes the '-' separating them for a better mobile experience
        .little-bean {
            opacity: 0;
        }
    }

    &-secondary {
        font-style: italic;
        font-weight: 200;
    }
}
