<div class="tab-content">
    <app-common-page-header
        headerText="Experience"
        [logos]="[IMAGE_LIBRARY.springLogo.url, IMAGE_LIBRARY.ngLogo.url, IMAGE_LIBRARY.javaLogo.url, IMAGE_LIBRARY.tsLogo.url]"
        ></app-common-page-header>

        <app-dual-content-header
            primaryHeader="Full-stack Developer"
            secondaryHeader="May 2022 >> Present"
            [includeBean]="false"
            [topperImageUrl]="IMAGE_LIBRARY.cnaLogo.url"
            ></app-dual-content-header>

<!-- TODO: add company blurb (what they do, website, etc) -->

        <ul>
            <h6 class="text-with-logo">
                <img
                    alt="Spring Framework Logo"
                    [src]="IMAGE_LIBRARY.springLogo.url"
                    >
                Spring Framework
            </h6>
            <ul>
                <li>Develop Reliable, Scalable, and Secure Microservices in Java</li>
                <li>Design APIs with Oracle APIary</li>
                <li>Build RESTful APIs with all major Springboot releases</li>
                <li>Write SQL Queries for Oracle DB</li>
                <li>Utilize JDBC to safely perform database operations</li>
            </ul>
            <h6 class="text-with-logo">
                <img
                    alt="Angular Logo"
                    [src]="IMAGE_LIBRARY.ngLogo.url"
                    >
                Angular
            </h6>
            <ul>
                <li>Develop Intuitive User Interfaces with Bootstrap and Angular Material</li>
                <li>Proficient in Typescript</li>
                <li>Upgrade Deprecated AngularJS Apps</li>
                <li>Experience with RXJS and Angular 17+ Signals</li>
                <li>Develop apps compliant with MVVM Architecture</li>
                <li>Ensure reliable code with Angular Test Framework</li>
            </ul>
            <li>Develop modern FOSS replacements for Oracle JDeveloper Web Applications</li>
            <li>Work as part of an Agile Team</li>
        </ul>

        <br>
</div>
