<div id="tab-content">

    <app-common-page-header
        headerText="Projects"
        ></app-common-page-header>

        <!-- HackKU Experience -->
        <app-dual-content-header
            primaryHeader="HackKU 2023"
            secondaryHeader="36 Hr Hackathon"
            [includeBean]="true"
            [topperImageUrl]="IMAGE_LIBRARY.hackku2023.url"
            ></app-dual-content-header>
        <ul>
            <li>Experience with Angular and Spring Frameworks</li>
            <li>Typescript Development</li>
            <li>Experience with HTML / SCSS</li>
        </ul>

        <app-dual-content-header
            primaryHeader="Personal Projects"
            secondaryHeader="Task Application, Photo Sharing Social Network"
            [includeBean]="true"
            ></app-dual-content-header> 
        <ul>
            <li>PostgreSQL with Spring Data JPA and Jakarta Hibernate</li>
            <li>Managing Container Deployments with Amazon Lightsail</li>
            <li>Utilizing Github Actions for Build Pipelines</li>
        </ul>
</div>