<div id="tab-content">

    <app-common-page-header
        headerText="Projects"
        ></app-common-page-header>

        <app-dual-content-header
            primaryHeader="Personal Projects"
            secondaryHeader="Task Application, Photo Sharing Social Network"
            [includeBean]="true"
            ></app-dual-content-header>
        <ul>
            <li>Designing Databases with Spring Data JPA and Jakarta Hibernate</li>
            <li>Maintaining a Postgres Database on Amazon Lightsail</li>
            <li>Managing Container Deployments with Amazon Lightsail</li>
            <li>Utilizing Github Actions for Build Pipelines</li>
        </ul>
</div>
