<div id="tab-content">

    <app-common-page-header
        headerText="Projects"
        ></app-common-page-header>

        <!-- HackKU Experience -->
        <img
            class="inline-pics"
            [src]="IMAGE_LIBRARY.hackku2023.url"
            >

        <div class="inline-split-style">
            <h3>HackKU 2023&nbsp;</h3>
            <h3 class="italic-low-key"><span class="little-bean">-&nbsp;</span>36 Hr Hackathon</h3>
        </div>

        <ul>
            <li>Experience with Angular and Spring Frameworks</li>
            <li>Typescript Development</li>
            <li>Experience with HTML / SCSS</li>
        </ul>

    
        <div class="inline-split-style">
            <h3>Personal Projects&nbsp;</h3>
            <h3 class="italic-low-key"><span class="little-bean">-&nbsp;</span>Task Application, Photo Sharing Social Network</h3>
        </div>

        <ul>
            <li>PostgreSQL with Spring Data JPA and Jakarta Hibernate</li>
            <li>Managing Container Deployments with Amazon Lightsail</li>
            <li>Utilizing Github Actions for Build Pipelines</li>
        </ul>
</div>