<nav
  id="app-header"
  class="navbar navbar-expand-md"
  [ngClass]="{
    'app-header-wrapper navbar-dark':!isOnMainPage(),
    'app-header-wrapper-invisible':isOnMainPage()
  }"
  >

  <a
    [ngClass]="{
    'link-styles link-styles-invisible':isOnMainPage(),
    'link-styles link-styles-white':!isOnMainPage()
  }" routerLink="/">william&#64;morriswa.org</a>

  <!-- Please add nav buttons to BUTTONS in component TS -->
  @if (mobileStyles()) {
      <div [matMenuTriggerFor]="menu" class="dropdown-toggle" aria-label="Toggle navigation menu">
        <div class="dropdown-toggle-icon"></div>
      </div>

      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          *ngFor="let navButton of navbarButtons"
          type="button"
          [routerLink]="navButton.path"
        >
          {{ navButton.name }}
        </button>
      </mat-menu>
  } @else {
    <div class="app-header-buttons">
      <button
        *ngFor="let navButton of navbarButtons"
        type="button"
        class="btn btn-dark"
        [routerLink]="navButton.path"
      >
        {{ navButton.name }}
      </button>
    </div>
  }
</nav>

<div
  [ngStyle]="{
    'margin-top': isOnMainPage()? '0px' : '60px'
  }"
>
  <router-outlet></router-outlet>
</div>
