<div id="app-header">
  <a href="mailto:william@morriswa.org">william@morriswa.org</a>
  <div id="app-header-buttons">
    <button type="button" class="btn btn-dark" routerLink="/education">Education</button>
    <button type="button" class="btn btn-dark" routerLink="/experience">Experience</button>
    <button type="button" class="btn btn-dark" routerLink="/projects">Projects</button>
    <button type="button" class="btn btn-dark" routerLink="/work">Work With Me</button>
  </div>
</div>

<div id="app-content">
  <router-outlet></router-outlet>
</div>