@use "src/styles/variables" as *;

#app-header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;

  .btn {
    margin: 0 5px 0 0;
    transition: background-color 1s;

    color: white;
    background-color: $dark;

    &:hover {
      background-color: $warning;
      color: $dark;
    }
  }
}

.app-header-wrapper {
  background-color: $dark;
}

.app-header-wrapper-invisible {

  background-color: rgba(0, 0, 0, 0);

  .dropdown-toggle {
    background-color: $purple-poo;
  }
}

.app-header-buttons {
  padding: 0;
}

.dropdown-toggle {
  padding: 0 10px;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 5px;
}

.dropdown-toggle:after {
  display: none;
}

.dropdown-toggle-icon {
  height: 32px;
  width: 32px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(228,165,209, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}



.link-styles {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;

    &-white,:focus,:active {
        color: white;

        &:hover {
            color: $warning;
        }
    }

    &-dark,:focus,:active {
        color: $warning;
        text-decoration: none;

        &:hover {
            color: white;
        }
    }

    &-invisible {
        opacity: 0;
    }
}

.dropdown-menu {
  background: none;
  border: none;
}
