<nav 
  id="app-header" 
  class="navbar navbar-expand-md navbar-dark"
  >

  <a href="mailto:william@morriswa.org">william@morriswa.org</a>

  <button 
    class="navbar-toggler" 
    type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#app-header-buttons" 
    aria-controls="app-header-buttons" 
    aria-label="Toggle navigation menu"
    (click)="is_collapsed = !is_collapsed"
    >
      <span class="navbar-toggler-icon"></span>
  </button>

  <div
    id="app-header-buttons"
    class="collapse navbar-collapse flex-row"
    [ngStyle]="{
      'justify-content': 'flex-end',
      'padding-top': is_collapsed? '0px':'10px'
    }"
    [ngbCollapse]="is_collapsed">

      <!-- Please add nav buttons to BUTTONS in component TS -->
      <button 
        *ngFor="let navButton of navbarButtons"
        type="button"
        class="btn btn-dark"
        [routerLink]="navButton.path"
        (click)="closeMobileNav()"
        >
        {{ navButton.name }}
      </button>
     
  </div>
</nav>

<div id="app-content">
  <router-outlet></router-outlet>
</div>