@import 'src/styles';

.collapsing {
    padding-top: 10px !important;
}

#app-header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100vw;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: $dark;

    &-buttons {
        float: right;
        text-align: right;
    }

    > a, a:focus, a:active {
        color: $white;
        margin-top: auto;
        margin-bottom: auto;
        text-decoration: none;
    }

    > a:hover {
        color: $warning;
    }

    .btn {
        margin-left: 5px;
        transition: background-color 1s;

        &:hover {
            background-color: $warning;
            color: $dark;
        }
    }
}

#app-content {
    margin-top: 60px;
}
