@import 'src/styles';

.collapsing {
    padding-top: 10px !important;
}

.app-header-wrapper {
    background-color: $dark;

    &-invisible {
        background-color: rgba(0,0,0,0);

        .navbar-toggler, .navbar-toggler-icon {
            border-width: 1.5px;
            background-color: $purple-poo;
        }

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='" + $pinky-pie + "' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    }
}

.link-styles {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;

    &-white,:focus,:active {
        color: $white;

        &:hover {
            color: $warning;
        }
    }

    &-dark,:focus,:active {
        color: $warning;
        text-decoration: none;

        &:hover {
            color: $white;
        }
    }

    &-invisible {
        opacity: 0;
    }
}


#app-header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100vw;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;

    &-buttons {
        float: right;
        text-align: right;
    }



    .btn {
        margin: 5px 0 0 5px;
        transition: background-color 1s;

        &:hover {
            background-color: $warning;
            color: $dark;
        }
    }
}
