<div class="tab-content">
    <app-common-page-header
        headerText="Education"
        [logos]="[IMAGE_LIBRARY.cppLogo.url, IMAGE_LIBRARY.pythonLogo.url, IMAGE_LIBRARY.htmlCssLogo.url]"
        ></app-common-page-header>

        <!-- College Experience -->
        <app-dual-content-header
            primaryHeader="University of Kansas"
            secondaryHeader="Undergraduate Engineering Student"
            [includeBean]="true"
            [topperImageUrl]="IMAGE_LIBRARY.sexyLegs.url"
            ></app-dual-content-header>

        <ul>
            <li>Pursuing Computer Science B.S.</li>
            <li>Chancellors Club Scholar</li>
            <li>National Merit Scholar</li>
            <li>Experience in Python and C/C++ Lang</li>
        </ul>

        <br>

        <!-- Highschool Experience -->
        <app-dual-content-header
            primaryHeader="Olathe e-Communications Academy"
            secondaryHeader="Highschool"
            [includeBean]="true"
            [topperImageUrl]="IMAGE_LIBRARY.eComm.url"
            ></app-dual-content-header>

        <ul>
            <li>WordPress Web Development</li>
            <li>Experience with HTML / CSS</li>
        </ul>
        
</div>