<div class="tab-content">
    <h1>Education</h1>
    <hr>
        <!-- College Experience -->
        <img
            class="inline-pics"
            [src]="IMAGE_LIBRARY.sexyLegs.url"
            >

        <div class="inline-split-style">
            <h3>University of Kansas&nbsp;</h3>
            <h3 class="italic-low-key"><span class="little-bean">-&nbsp;</span>Undergraduate Engineering Student</h3>
        </div>

        <ul>
            <li>Pursuing Computer Science B.S.</li>
            <li>Chancellors Club Scholar</li>
            <li>National Merit Scholar</li>
            <li>Experience in Python and C/C++ Lang</li>
        </ul>

        <br>

        <!-- Highschool Experience -->
        <img
            class="inline-pics"
            [src]="IMAGE_LIBRARY.eComm.url"
            >

        <div class="inline-split-style">
            <h3>Olathe e-Communications Academy&nbsp;</h3>
            <h3 class="italic-low-key"><span class="little-bean">-&nbsp;</span>Highschool</h3>
        </div>

        <ul>
            <li>WordPress Web Development</li>
            <li>Experience with HTML / CSS</li>
        </ul>
        
</div>