<div class="tab-content">
<app-common-page-header
    headerText="Education"
    [logos]="[
      IMAGE_LIBRARY.cppLogo.url,
      IMAGE_LIBRARY.pythonLogo.url,
      IMAGE_LIBRARY.htmlCssLogo.url,
      IMAGE_LIBRARY.jsLogo.url]"
    ></app-common-page-header>

    <!-- College Experience -->
    <app-dual-content-header
        primaryHeader="University of Kansas"
        secondaryHeader="School of Engineering"
        [includeBean]="true"
        [topperImageUrl]="IMAGE_LIBRARY.sexyLegs.url"
        ></app-dual-content-header>

    <ul>
        <li>Pursuing Computer Science B.S.</li>
        <li>National Merit Scholar</li>
        <li>Chancellors Club Scholar</li>
        <li>Rising Student Scholar</li>
        <li>Proficient in Python, JavaScript, and C/C++ Programming</li>
        <li>Experience with SQL</li>
        <li>Experience with Node.JS</li>

        <li>
            <a
              class="btn-link"
              (click)="openCompletedCoursePopup()"
              >
            <span>Completed Courses</span>
          </a>
        </li>
    </ul>

</div>
