// OVERRIDE STATIC BOOTSTRAP VARIABLES
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

$font-family: 'Ubuntu';


// Import Bootstrap as Needed
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";

// Declare Global Styles

$pinky-pie: rgba(228,165,209, 1.0);
$purple-poo: rgb(76,55,141);

body {
    font-family: $font-family;
}

.tab-content {
    padding: 10px 20px;
}

.text-with-logo {
    display: flex; 
    align-items: flex-start;

    > img {
        max-height: 25px;
        display: inline;
        // float: left;
        margin-right: 5px;
    }
}

#tag {
    display: flex;
    text-align: left;
    align-items: flex-end;
    margin-top: 10px;
    color: $gray-200;
    text-shadow: 0px 0px 5px $purple-poo;
    padding-left: 20px;
    font-bo

    > h2, span {
        font-size: 4rem;
        @media (max-width: 600px) {
            font-size: 2rem;            
        }
    }
}