// OVERRIDE STATIC BOOTSTRAP VARIABLES
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

$font-family: 'Ubuntu';


// Import Bootstrap as Needed
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";

// Declare Global Styles
body {
    font-family: $font-family;
}

.tab-content {
    padding: 10px 20px;
}

.page-content-dual-header-topper {
    max-height: 15vh;
    max-width: 30vw;
}

.page-content-dual-header {
    display: flex;

    // This moves secondary header under primary on small devices 
    @media (max-width: 700px) {
        flex-direction: column;

        // and removes the '-' separating them for a better mobile experience
        .little-bean {
            opacity: 0;
        }
    }
    
    &-secondary {
        font-style: italic;
        font-weight: 200;
    }
}

.text-with-logo {
    display: flex; 
    align-items: flex-start;

    > img {
        max-height: 25px;
        display: inline;
        // float: left;
        margin-right: 5px;
    }
}
