// OVERRIDE STATIC BOOTSTRAP VARIABLES
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

$font-family: 'Ubuntu';


// Import Bootstrap as Needed
@import 'bootstrap/scss/bootstrap';

// Declare Global Styles

$pinky-pie: rgba(228,165,209, 1.0);
$purple-poo: rgb(76,55,141);

body {
    font-family: $font-family;
}

.tab-content {
    padding: 10px 20px;
}

.text-with-logo {
    display: flex;
    align-items: flex-start;

    > img {
        max-height: 25px;
        display: inline;
        // float: left;
        margin-right: 5px;
    }
}

