@import 'src/styles';

.common-header {
    margin-bottom: 5vh;

    &-logos {
        img {
            max-height: 50px;
            display: inline;
            margin-left: 15px;
            align-content: baseline;
        }
    }
}
