<div class="tab-content">
    <app-common-page-header
        headerText="Experience"
        [logos]="[IMAGE_LIBRARY.springLogo.url, IMAGE_LIBRARY.ngLogo.url, IMAGE_LIBRARY.javaLogo.url, IMAGE_LIBRARY.tsLogo.url]"
        ></app-common-page-header>

        <app-dual-content-header
            primaryHeader="Junior Software Developer"
            secondaryHeader="May 2022 >> Present"
            [includeBean]="false"
            [topperImageUrl]="IMAGE_LIBRARY.cnaLogo.url"
            ></app-dual-content-header>

        <ul>
            <h4 class="text-with-logo">
                <img
                    alt="Spring Framework Logo"
                    [src]="IMAGE_LIBRARY.springLogo.url"
                    >
                Spring Framework
            </h4>
            <ul>
                <li>Develop Reliable, Scalable Microservices in Java</li>
                <li>Design and Build RESTful APIs</li>
                <li>Write SQL Queries for Oracle DB with JDBC</li>
            </ul>
            <h4 class="text-with-logo">
                <img
                    alt="Angular Logo"
                    [src]="IMAGE_LIBRARY.ngLogo.url"
                    >
                Angular
            </h4>
            <ul>
                <li>Develop User Experiences with Bootstrap</li>
                <li>Proficient in Typescript</li>
                <li>Upgrade Deprecated Apps</li>
                <li>Experience with RXJS</li>
            </ul>
            <li>Develop replacements for Legacy JDeveloper Applications</li>
            <li>Work as part of an Agile Team</li>
        </ul>

        <br>
</div>
