<div class="tab-content">
    <h1>Experience, Employment, Leadership</h1>
    <hr>
        <img
            class="inline-pics"
            [src]="IMAGE_LIBRARY.cnaLogo.url"
            >

        <div class="inline-split-style">
            <h3>Junior Software Developer</h3>
            <h3 class="italic-low-key">&nbsp; May 2022 >> Present</h3>
        </div>

        <ul>
            <h4>
                <img 
                    class=inline-image 
                    [src]="IMAGE_LIBRARY.springLogo.url"
                    >
                Spring Framework
            </h4>
            <ul>
                <li>Develop Reliable, Scalable Microservices</li>
                <li>Design and Build RESTful APIs</li>
                <li>Write SQL Queries for Oracle DB</li>
            </ul> 
            <h4>
                <img 
                    class=inline-image 
                    [src]="IMAGE_LIBRARY.ngLogo.url"
                    >
                Angular
            </h4>
            <ul>
                <li>Develop User Experiences</li>
                <li>Upgrade Deprecated Apps</li>
                <li>Experience with RXJS, Bootstrap, Angular Router</li>
            </ul> 
            <li>Develop replacements for Legacy JDeveloper Applications</li>
            <li>Work as part of an Agile Team</li>
        </ul>

        <br>
</div>