<div class="tab-content">
    <app-common-page-header 
        headerText="Experience, Employment, Leadership"
        [logos]="[IMAGE_LIBRARY.springLogo.url, IMAGE_LIBRARY.ngLogo.url, IMAGE_LIBRARY.javaLogo.url, IMAGE_LIBRARY.tsLogo.url]"
        ></app-common-page-header>


        <img
            style="margin-top: 5vh;"
            class="inline-pics"
            [src]="IMAGE_LIBRARY.cnaLogo.url"
            >

        <div class="inline-split-style">
            <h3>Junior Software Developer</h3>
            <h3 class="italic-low-key">&nbsp; May 2022 >> Present</h3>
        </div>

        <ul>
            <h4 class="inline-text-and-logo">
                <img 
                    [src]="IMAGE_LIBRARY.springLogo.url"
                    >
                Spring Framework
            </h4>
            <ul>
                <li>Develop Reliable, Scalable Microservices in Java</li>
                <li>Design and Build RESTful APIs</li>
                <li>Write SQL Queries for Oracle DB</li>
            </ul> 
            <h4 class="inline-text-and-logo">
                <img 
                    [src]="IMAGE_LIBRARY.ngLogo.url"
                    >
                Angular
            </h4>
            <ul>
                <li>Develop User Experiences</li>
                <li>Proficient in Typescript</li>
                <li>Upgrade Deprecated Apps</li>
                <li>Experience with RXJS, Bootstrap, Angular Router</li>
            </ul> 
            <li>Develop replacements for Legacy JDeveloper Applications</li>
            <li>Work as part of an Agile Team</li>
        </ul>

        <br>
</div>